
        /*Navigation bar code*/
        ul {
              list-style-type: none;
              overflow: hidden;
              background-color: #1c93a8;
              text-align: center;
            }
            
        li {
              float: left;
            }
      li a {
              display: block;
              color: #ffffff;
              text-align: center;
              padding: 10px 10px;
              font-family: "East Sea Dokdo", sans-serif; font-size: 30px;
            }

      li a:hover {
                    background-color: #0db5df;
                  }
/*nav bar code end*/    

  


      .header {
                text-align:center;
                background-color: #000000;
                color: #ffa500;
                padding: 60px 100px;
                border-bottom: none;
                font-size: 20px;
                font-family:"Lobster", sans-serif;
            
     }
      #MENU{
        background-color: #868605;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        
      }
      
      #DELIVERY {
        background-color: #a16b06;
        color:white;
        text-align: center;
        font-size:18px;
      }

      #CUSTOMER_REVIEW{
      background-color: rgb(139, 6, 6);
      color: white;
      text-align: center;
      font-size: 18px;

      }

      #CONTACT_US{
        background-color: #5a3c03;
        color:white;
        text-align: center;
        font-size: 18px;
      }


/* Slide show code */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slides {
  display: none;
}

/* Caption text */
.text {
  color: white;
  font-family:Copperplate, fantasy;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* END OF SLIDESHOW CODE */


  